._ime-layout {
  display: flex;
  align-self: start;
  justify-content: start;
}

/* SideBar */

._ime-sidebar {
  border-top: 2px solid var(--color-foyr);
  border-bottom: 2px solid var(--color-foyr);

  user-select: none;
}

.side-bar {
  padding: 25px 0;
}

/* Effect - Links */

.side-bar ._sb-colab-effect {
  display: none;
}

.side-bar.collapse ._sb-itens_list-effect {
  display: flex;
  align-self: center;
  justify-content: center;

  position: relative;
}

.side-bar.collapse ._sb-colab-effect {
  display: flex;

  opacity: 0;
  visibility: hidden;

  background: var(--background-contents);
  color: var(--color-eight);

  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;

  position: absolute;
  left: 75px;
  bottom: -13px;

  width: max-content;
}

.side-bar.collapse ._sb-colab-effect #_sb_effect-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--background-contents);

  position: absolute;
  left: -10px;
  top: 8px;
}

.side-bar.collapse ._sb-colab-effect p {
  padding: 8px 25px;
}

.side-bar.collapse ._sb-itens_list-effect:hover ._sb-colab-effect {
  visibility: visible;
  opacity: 1;
}

/* End Effect */

/* Global */

.logo-name-wrapper,
.explorer-list,
.help-list,
._sb_login-list,
._sb_share-list {
  display: grid;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
}

.side-bar.collapse .logo-name-wrapper,
.side-bar.collapse .explorer-list,
.side-bar.collapse .help-list,
.side-bar.collapse ._sb_login-list,
.side-bar.collapse ._sb_share-list {
  justify-content: center;

  padding: 0 1rem;
}

/* Logo - SideBar */

.logo-name-wrapper {
  display: flex;
}

.logo-name img {
  width: 6vw;
  min-width: 30px;
}

.logo-name__button {
  height: 96px;

  font-size: 25px;
  cursor: pointer;

  transform: rotate(180deg);
}

.side-bar.collapse {
  width: 5rem;
}

.side-bar.collapse .logo-name {
  display: none;
}

.side-bar.collapse .logo-name__button {
  animation: var(--animation);
  transform: rotate(0);
}

/* Line SideBar */

._sb-line {
  background: var(--color-foyr);
  height: 2px;

  margin: 25px 0;
}

._sb-ony-line {
  background: var(--color-foyr);
  height: 2px;

  margin: 25px 0;
}

/* Texts SideBar */

.menu-header,
.help-header,
._sb_login-header,
._sb_share-header {
  display: flex;
  align-items: center;
  justify-content: start;

  font: var(--h5);
  color: var(--color-eight);

  margin-bottom: 15px;
}

.menu-header span::after,
.help-header span::after,
._sb_login-header span::after,
._sb_share-header span::after {
  content: none !important;
}

.explorer-list,
.help-list,
._sb_login-list,
._sb_share-list {
  display: grid;
  gap: 15px;
}

.side-bar a {
  text-decoration: none;

  font: var(--text-complement);
  font-size: 1rem;
  color: var(--color-eleven);

  display: flex;
  align-items: center;
  justify-content: start;
}

.side-bar span {
  position: relative;
  width: fit-content;
}

.side-bar a:hover,
.side-bar i:hover {
  transition: var(--animation);
  color: var(--hover-threy);
}

.side-bar .icon-logo-ccd:hover,
.side-bar .icon-menu:hover,
.side-bar .icon-anchor:hover,
.side-bar .icon-user
.side-bar .icon-share-2 {
  color: var(--color-ten) !important;
}

.side-bar span::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background: var(--hover-threy);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.side-bar span:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.side-bar span {
  display: flex;
}

.side-bar i {
  color: var(--color-twy);
  margin-right: 15px;
}

.side-bar.collapse a {
  justify-content: center;
}

.side-bar.collapse i {
  margin-right: 0;
}

.side-bar.collapse span {
  display: none;
}

.side-bar.collapse .icon-menu,
.side-bar.collapse .icon-anchor,
.side-bar.collapse .icon-user,
.side-bar.collapse .icon-share-2 {
  font-size: 1.3rem;
}

@media screen and (max-width: 575px) {
  .side-bar.collapse .explorer-list,
  .side-bar.collapse .help-list,
  .side-bar.collapse ._sb-line,
  .side-bar.collapse ._sb_login-list,
  .side-bar.collapse ._sb_share-list {
    display: none !important;
  }

  .side-bar.collapse {
    padding: 0 !important;
    margin: 0 !important;

    position: fixed !important;
    bottom: 1rem !important;
    left: 1rem !important;

    background: var(--color-twelve);
    border-radius: 50% !important;

    width: auto !important;
    height: auto !important;

    z-index: 33;
  }

  .side-bar.collapse .logo-name-wrapper {
    padding: 0.8rem !important;
  }

  .side-bar.collapse .logo-name__button {
    width: auto !important;
    height: auto !important;

    display: grid !important;
    place-content: center !important;
  }
}

/* Beta Start */

.side-bar.collapse ._sb_login-header,
.side-bar.collapse ._sb_share-header {
  cursor: pointer;
}

.side-bar.collapse .icon-user:hover,
.side-bar.collapse .icon-share-2:hover {
  color: var(--hover-threy) !important;
}

.side-bar .icon-user:hover,
.side-bar .icon-share-2:hover {
  color: var(--color-ten) !important;
}

.side-bar.collapse ._sb_login-header,
.side-bar.collapse ._sb_share-header {
  display: flex;
  align-self: center;
  justify-content: center;

  position: relative;
}

.side-bar.collapse ._sb_login-header:hover ._sb-colab-effect,
.side-bar.collapse ._sb_share-header:hover ._sb-colab-effect {
  visibility: visible;
  opacity: 1;
}

/* Beta End */