:root {
    /* Color */
    --color-one: #A65D34;
    --color-two: #D7A43A;
    --color-three: #018DCA;
    --color-four: #B10338;
    --color-five: #4D8C1E;
    --color-six: #050505;
    --color-seven: #BE0000;
    --color-eight: #D9E3E4;
    --color-nine: #F7F7F7;
    --color-ten: #B6B6B6;
    --color-eleven: #B5020B;
    --color-twelve: #0B0D17;

    /* Linear */
    --line-one: linear-gradient(90deg, #B5020B 10.42%, #FC7777 82.81%);
    --line-two: linear-gradient(90deg, #0091C5 0%, #D9E3E4 77.14%);
    --line-three:linear-gradient(90deg, #B5020B 10.42%, rgba(252, 119, 119, 0) 82.81%);

    /* Font */
    --font-primary: 800 40px "Azonix", "Inter", Arial;
    --font-secondary: 700 25px "Rubik", "Inter", Arial;
    --font-tertiary: 500 18px "Inter", Arial;

    /* ScrollBar */
    --scroll-bg: #F7F7F7;
    --scroll-bar: #B6B6B6;

    /* Outros */
    --animation: 0.5s;
    --dalay: 0.3s;
    --hover: #B5020B;
    --icon: 3rem;
    --nones: none;
    --icon-color: #a8a8a8;
}

/* Benner / Events */

.__banner-events {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 25px 10px;
}

.___banner {
    width: 100%;
    height: 100%;
}

._banner-one {
    transition: var(--animation);
    width: 100%;
    height: 100%;
}

._banner-one img {
    transition: var(--animation);
    position: relative;

    width: 100%;
    height: 100%;
}

._banner-one img:hover {
    transition: var(--animation);

    bottom: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}