:root {
    /* Color */
    --color-one: #A65D34;
    --color-two: #D7A43A;
    --color-three: #018DCA;
    --color-four: #B10338;
    --color-five: #4D8C1E;
    --color-six: #050505;
    --color-seven: #BE0000;
    --color-eight: #D9E3E4;
    --color-nine: #F7F7F7;
    --color-ten: #B6B6B6;
    --color-eleven: #B5020B;
    --color-twelve: #0B0D17;

    /* Linear */
    --line-one: linear-gradient(90deg, #B5020B 10.42%, #FC7777 82.81%);
    --line-two: linear-gradient(90deg, #0091C5 0%, #D9E3E4 77.14%);
    --line-three:linear-gradient(90deg, #B5020B 10.42%, rgba(252, 119, 119, 0) 82.81%);

    /* Font */
    --font-primary: 800 40px "Azonix", "Inter", Arial;
    --font-secondary: 700 25px "Rubik", "Inter", Arial;
    --font-tertiary: 500 18px "Inter", Arial;

    /* ScrollBar */
    --scroll-bg: #F7F7F7;
    --scroll-bar: #B6B6B6;

    /* Outros */
    --animation: 0.5s;
    --dalay: 0.3s;
    --hover: #B5020B;
    --icon: 3rem;
    --nones: none;
    --icon-color: #a8a8a8;
}

/* Config / Document */

.__ime-grid-history, .__agenda-grid span, .___agenda-hover-about, iframe {
    user-select: none;
}

#back-top {
    z-index: 99;
}

/* Global / Styles */

._ime-historia, ._ime-contato, ._ime-agenda, ._ime-base, ._ime-oferta {
    width: 100%;
    max-width: 1200px;

    margin: auto;
    padding: 25px 10px;

    gap: 25px;
}

._ime-historia, ._ime-contato {
    display: flex;
    align-self: start;
    justify-content: center;
}

.__chamado-info, .__contato-form, .__oferta-info_modulo__1 {
    width: 50%;
    margin: 15px 0;
}

.__chamado-info h3, ._ime-contato__form h3 {
    font: var(--font-secondary);
    font-size: 35px;
    margin-bottom: 10px;
}

.__base-grid header, .__oferta-grid header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: relative; */
}

.___base-header__title, .__oferta-header__title {
    font: var(--font-secondary);
    font-size: 35px;
    text-align: start;
}

@media screen and (max-width: 420px) {
    ._ime-base, ._ime-oferta {
        padding: 25px 10px !important;
    }
}

/* Home / Styles */

._ime-home {
    margin-bottom: 50px;
}

.___home-info {
    position: absolute;
    z-index: 99;
}

.___home-info {
    height: 100%;
    width: -webkit-fill-available;
    max-height: 40rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.___home-info {
    color: var(--color-eight);
}

.___home-info h1 {
    font: var(--font-primary);
    font-size: 5rem;
    letter-spacing: 1.5rem;
    line-height: 6rem;

    text-align: center;
}

.___home-info p {
    width: 32vw;

    text-align: center;
    margin: 25px auto;
}

.__ime-home-btn {
    display: flex;
    justify-content: center;
}

.__ime-home-btn a {
    color: var(--color-nine);
    font-size: 15px;
    text-decoration: none;

    background-color: var(--color-seven);
    border: 2px solid var(--color-seven);

    border-radius: 50px;
    padding: 15px 25px;
}

.__ime-home-btn a:hover {
    transition: var(--animation);
    animation-delay: var(--dalay);

    background-color: transparent;
    border: 2px solid var(--hover);

    letter-spacing: 2px;
    font-weight: 600;
}

.___home-backg {
    position: relative;
}

.background__home____effect {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 40rem;
    position: absolute;
}

.background__home____image {
    background-image: url(http://upload.emanuelalvorada.com.br/search/image/1/9.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    width: 100%;
    height: 40rem;

    z-index: 1;
}

@media screen and (max-width: 768px) {
    .___home-info h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        letter-spacing: .8rem;
    }

    .___home-info p {
        width: 80vw;
    }
}

@media screen and (max-width: 375px) {
    .___home-info section {
        padding: 0 10px;
    }

    .___home-info h1 {
        font-size: 2.5rem;
        line-height: 3.8rem;
        letter-spacing: .5rem;
    }

    .___home-info p {
        width: auto;
    }
}

/* Historia / Styles */

.__chamado-image {
    width: 50%;
    background-image: url(http://upload.emanuelalvorada.com.br/search/image/1/136.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.__chamado-info p {
    font-size: 15px;
    text-align: justify;
}

.__ime-grid-history {
    display: grid;
}

.__info-sociais {
    display: flex;
    gap: 15px;

    margin: 15px 0;
 
    animation: var(--animation);
    cursor: pointer;
}

.instgaram-8526, .facebook-8526, .youtube-8526 {
    position: relative;
}

.__info-sociais svg {
    fill: var(--icon-color);
    width: 2rem;
}

.__info-sociais svg:hover {
    transition: var(--animation);
    animation-delay: var(--dalay);

    fill: var(--hover);

    position: inherit;
    bottom: 3px;
}

/* Links / Hover */

.___next-info_abount {
    color: var(--color-six);
    text-decoration: none;

    position: relative;
    display: flex;
    align-items: center;
    width: 8rem;
}

.___next-info_abount svg {
    margin-top: 3px;
    width: auto;
}

.___next-info_abount span {
    display: flex;
    align-items: center;
    width: 123px;
}

.___next-info_abount span:hover {
    z-index: 999;
    color: var(--color-ten);
    padding-left: 5px;
    transition: var(--animation);
}

.___next-info_abount:hover {
    transition: var(--animation);
}

.___next-info_abount::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    height: 100%;
    background: var(--color-six);
    color: var(--color-ten);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.___next-info_abount:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
    ._ime-historia {
        max-width: 85%;
    }

    ._ime-historia {
        flex-direction: column;
    }

    .__chamado-image {
        height: 20rem;
        width: 100%;
    }

    .__chamado-info {
        width: 100%;
    }

    .__ime-grid-history {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 425px) {
    ._ime-historia {
        max-width: inherit;
    }

    ._ime-historia {
        padding: 25px 0;
    }

    .__chamado-info {
        padding: 0 10px;
    }
}

/* Base / Styles */

.__base-grid header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: relative; */
}

.navegatin_base {
    display: flex;
    align-items: center;
    justify-content: end;

    height: auto !important;
}

.___base-header__title {
    font: var(--font-secondary);
    font-size: 35px;
    text-align: start;
}

.___base-box_texts {
    margin-top: 35px;
}

.__base-box_container_modulo__2 {
    display: flex;
    align-self: start;

    gap: 25px;
}

.__base-box_modulo__1 iframe {
    height: 22rem;
}

.__base-ime-maps_modulo__2, .__base-info {
    width: 50%;
    height: 22rem;
}

.__base-info {
    flex-direction: column;
    margin: 25px 0;
}

.__base-info h4 {
    font: var(--font-secondary);
    font-weight: 600;
    margin-bottom: 15px;
}

.___base-box__texts_dados p {
    line-height: 2.5rem;
}

.__base-info strong {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    ._ime-base {
        max-width: 85%;
    }

    .__base-box_container_modulo__2 {
        flex-direction: column;
    }

    .__base-ime-maps_modulo__2, .__base-info {
        width: 100%;
    }

    .___base-box__texts_dados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .__base-box_modulo__1 iframe {
        height: 38.5rem;
    }

    .__base-info {
        height: auto;
    }
}

@media screen and (max-width: 425px) {
    ._ime-base {
        padding: 0 10px;

        max-width: 100%;
    }

    .___base-box__texts_dados {
        grid-template-columns: repeat(1, 1fr);
    }

    .__base-box_modulo__1 iframe {
        height: 46rem;
    }

    #_grid-rocial-base {
        flex-direction: column-reverse;
        align-items: start;

        margin-top: 10px;
    }
}

/* Oferta / Styles */

.__oferta-box_texts {
    margin-top: 35px;
}

.__oferta-box_container_modulo__1,  .__oferta-box_container_modulo__2 {
    display: flex;
    align-items: start;

    height: 22rem;

    gap: 25px;
}

.__oferta-image_modulo__1 {
    width: 50%;
    height: 22rem;
    background-image: url(http://upload.emanuelalvorada.com.br/search/image/1/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.aspas-8532 {
    width: fit-content;
    height: fit-content;
}

.aspas-8532 svg {
    height: 3rem;
    width: auto;
}

.__oferta-info_modulo__1 h4 {
    font: var(--font-secondary);
    font-weight: 600;
    margin-bottom: 15px;
}

.__oferta-info_modulo__1 p {
    margin: 15px 0;

    font: var(--font-tertiary);
    font-size: 15px;
    line-height: 1.5rem;
}

.__oferta-info_modulo__1 h6 {
    font: var(--font-tertiary);
    font-size: 20px;
}

#__ime-next__apoiar, #__ime-next__apoiar_grop-2 {
    margin-top: 15px;
    width: 10rem;
}

#__ime-next__apoiar span, #__ime-next__apoiar_grop-2 span {
    width: 170px;
}

.__oferta-info_modulo__2 {
    margin: 0 !important;
}

.__oferta-image_modulo__2 {
    width: 50%;
    height: 22rem;
    background-image: url(http://upload.emanuelalvorada.com.br/search/QR/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.__oferta-info_modulo__2 {
    flex-direction: column;
    width: 50%;
    margin: 25px 0;
}

.__oferta-info_modulo__2 h4 {
    font: var(--font-secondary);
    font-weight: 600;
    margin-bottom: 15px;
}

.__oferta-info_modulo__2 p {
    line-height: 2.5rem;
}

.__oferta-info_modulo__2 strong {
    font-weight: bold;
}

.__oferta-info_modulo__2 h5 {
    font: var(--font-secondary);
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
}

/* Copy / CNPJ */

.__ime-copy_pix {
    width: auto;
    height: auto;

    outline: none;
    border: none;
    cursor: pointer;

    background: transparent;

    font: var(--font-tertiary);
    font-size: 18px;
    color: var(--color-six);

    position: relative;
}

.__ime-copy_pix input {
    display: none;
}

.__ime-copy_pix:hover {
    color: var(--hover);
    transition: .3s;
}

.__ime-copy_pix::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--line-one);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.__ime-copy_pix:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
    ._ime-oferta {
        max-width: 85%;
    }

    .__oferta-box_container_modulo__1, .__oferta-box_container_modulo__2 {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .__oferta-image_modulo__1, .__oferta-image_modulo__2 {
        width: 100%;
        height: 22rem;
    }

    .__oferta-info_modulo__1, .__oferta-info_modulo__2 {
        width: 100%;
        height: auto;
    }

    .__oferta-info_modulo__2 section {
        margin: 0 15px;
    }
}

@media screen and (max-width: 425px) {
    ._ime-oferta {
        padding: 0 10px;
        max-width: 100%;
    }

    .__oferta-header__title b {
        display: none;
    }

    .__oferta-image_modulo__2 {
        height: 20rem;
    }

    .__oferta-info_modulo__2 section {
        margin: 0;
    }
}

/* Agenda / Styles */

.__agenda-grid h3 {
    font: var(--font-secondary);
    text-align: center;

    margin-bottom: 20px;
}

.__agenda-grid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin: auto;
    justify-content: space-between;
    gap: 15px;
}

.__agenda-grid li {
    display: flex;
    width: fit-content;
}

/* Grups */

._grup-235 span, ._grup-642 span, ._grup-756 span {
    color: var(--color-nine);

    width: 60px;
    height: 60px;

    margin-right: 15px;

    border-radius: 10px;

    display: grid;
    place-content: center;

    font-size: 22px;
}

._grup-235 span {
    background-color: var(--color-one);
}

._grup-642 span {
    background-color: var(--color-two);
}

._grup-756 span {
    background-color: var(--color-three);
}

._grup-235 h2 {
    color: var(--color-one);
}

._grup-642 h2 {
    color: var(--color-two);
}

._grup-756 h2 {
    color: var(--color-three);
}

.__agenda-grid h2 {
    font: var(--font-primary);
    font-size: 18px;
}

.__agenda-grid p {
    font-size: 13px;

    width: 15rem;

    margin-top: 10px;
}

/* Link */

.___agenda-hover-about {
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}

.___agenda-hover-about a {
    color: var(--color-six);
    text-decoration: none;

    letter-spacing: 0px;

    position: relative;
    align-items: center;
    line-height: 2rem;
}

.btn__next_agenda:hover {
    color: var(--hover);
    transition: var(--animation);
}

.btn__next_agenda:after {
  backface-visibility: hidden;
  border: 1px solid transparent;
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn__next_agenda:hover:after {
  backface-visibility: hidden;
  border-color: var(--hover);
  transition: width 350ms ease-in-out;
  width: 100%;
}

@media screen and (max-width: 1024px) {
    .__agenda-grid ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;

        width: fit-content;
        
        justify-content: center;
        
        margin-top: 35px;
    }
}

@media screen and (max-width: 768px) {
    .__agenda-grid ul {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}

@media screen and (max-width: 425px) {
    .__agenda-grid li {
        align-items: center;
    }
    
    .__agenda-grid span {
        margin-right: 8px;
    }
}

/* Contato / Styles */

.__contato-image {
    width: 50%;
    background-image: url(http://upload.emanuelalvorada.com.br/search/image/1/143.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.__ime____forms {
    display: grid;
    gap: 15px;
}

._ime-contato__form input, ._ime-contato__form textarea {
    width: 100%;

    font: var(--font-tertiary);
    font-size: 13px;
    color: var(--color-six);

    padding: 12px 10px;
    border: 1.8px solid var(--color-six);

    resize: none;
    outline: none;
}

._ime-contato__form input:hover, ._ime-contato__form textarea:hover {
    border-color: var(--hover);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: var(--animation);
}

._ime-contato__form input:focus, ._ime-contato__form textarea:focus {
    border-color: var(--hover);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: var(--animation);
}

._ime-contato__form textarea::-webkit-scrollbar {
  width: 20px;
}

._ime-contato__form textarea::-webkit-scrollbar-track {
  background: transparent;
}

._ime-contato__form textarea::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 35px;
  border: 7px solid var(--scroll-bg);
}

#nome {
    text-transform: capitalize;
}

._line-inputs {
    display: flex;
    gap: 15px;
}

._line-inputs div {
    width: 100%;
}

._terms-accept p, ._terms-accept a {
    font-size: 15px;
    color: var(--color-six);
    text-decoration: none;

    margin: 15px 0;
}

._terms-accept a {
    position: relative;
}

/* Link Accept / Hover */

._terms-accept a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 15%;

    height: 2px;

    background: var(--hover);
}

._terms-accept a:hover::before {
    width: 0%;
    transition: var(--animation);
    transition-delay: .5s;
}

._terms-accept a:hover {
    color: var(--hover);
    transition: var(--animation);
}

._terms-accept a::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background: var(--line-one);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

._terms-accept a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

/* Bnt / Styles */

._btn__next-contact {
    display: flex;
    align-items: center;
    justify-content: start;
}

._btn_mobile-contact {
    display: none;
}

/* Start Btn Desktop / Styles */

* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

._next__desk-contact {
    outline: none;
    border: none;
    background: none;

    user-select: none;

    font: var(--font-tertiary);
}

._next__desk-contact {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--color-six);
  cursor: pointer;
  overflow: hidden;
}
._next__desk-contact svg {
  position: absolute;
  top: 0; 
  left: 0;
  width: auto;
}
._next__desk-contact svg rect {
  fill: none;
  stroke: var(--color-six);
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  
  @include transition(all 1300ms $ease-out-expo);
}
._next__desk-contact:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 30, 310;
  stroke-dashoffset: 59;
  stroke: var(--hover);
}

._next__desk-contact:hover {
  color: var(--hover);

  font-size:18px;
  letter-spacing:1px;
  font-weight: 700;
}

/* End Btn Desktop / Styles */

@media screen and (max-width: 768px) {
    ._ime-contato {
        max-width: 85%;
    }

    ._ime-contato {
        flex-direction: column;
    }

    .__contato-image {
        height: 20rem;
        width: 100%;
    }

    .__contato-form {
        width: 100%;
    }

    .__ime-grid-history {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
    }
}

@media screen and (max-width: 425px) {
    ._ime-contato {
        max-width: inherit;
    }

    ._line-inputs {
        display: grid;
    }

    ._ime-contato {
        padding: 25px 0;
    }

    .__contato-form {
        padding: 0 10px;
    }
}

/* V.1.2 */

._ime__main h3 {
    font: var(--font-secondary) !important;
    font-size: 35px !important;
}

._ime-historia strong {
    font-weight: bold;
}

.__info-sociais {
    gap: 0;
}

.facebook-8526 {
    margin: 0 2vw;
}

.__ime-back-top {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .__oferta-info_modulo__2 {
        margin-top: 20px !important;
    }
}

._ime-contato input, ._ime-contato textarea {
    border-radius: 0 !important;
}

.__next-agenda {
    font: var(--font-tertiary);
    font-size: 15px;
    color: var(--color-twelve);

    display: flex;
    justify-content: center;

    text-align: center;
    text-decoration: none;

    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}

.__next-agenda:hover {
    transition: var(--animation);

    color: var(--hover);
    font-weight: 700;
}

.__next-agenda::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--line-one);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.__next-agenda:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

/* V.1.4.1 */

.___home-info h1 {
    text-transform: uppercase;
}