:root {
    /* Color */
    --color-one: #A65D34;
    --color-two: #D7A43A;
    --color-three: #018DCA;
    --color-four: #B10338;
    --color-five: #4D8C1E;
    --color-six: #050505;
    --color-seven: #BE0000;
    --color-eight: #D9E3E4;
    --color-nine: #F7F7F7;
    --color-ten: #B6B6B6;
    --color-eleven: #B5020B;
    --color-twelve: #0B0D17;

    /* Linear */
    --line-one: linear-gradient(90deg, #B5020B 10.42%, #FC7777 82.81%);
    --line-two: linear-gradient(90deg, #0091C5 0%, #D9E3E4 77.14%);
    --line-three:linear-gradient(90deg, #B5020B 10.42%, rgba(252, 119, 119, 0) 82.81%);

    /* Font */
    --font-primary: 800 40px "Azonix", "Inter", Arial;
    --font-secondary: 700 25px "Rubik", "Inter", Arial;
    --font-tertiary: 500 18px "Inter", Arial;

    /* ScrollBar */
    --scroll-bg: #F7F7F7;
    --scroll-bar: #B6B6B6;

    /* Outros */
    --animation: 0.5s;
    --dalay: 0.3s;
    --hover: #B5020B;
    --icon: 3rem;
    --nones: none;
    --icon-color: #a8a8a8;
}

._ime-main {
    padding: 50px;
}

._ime-main section {
    max-width: 1400px;
    margin: auto;
}

.__site-maps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 8rem;
    margin: auto;
    width: fit-content;
    max-width: 45rem;
}

.__site-maps li, .__site-maps a {
    width: fit-content;
}

._ime-main nav {
    display: grid;

    margin-top: 20px;
}

.__site-maps h3 {
    font: var(--font-secondary);
}

.__site-maps a, .__site-maps p {
    font: var(--font-tertiary);
    color: rgb(76, 81, 94);

    text-decoration: none;
    margin-bottom: 10px;

    position: relative;
}

.__site-maps a:last-child, .__site-maps p:last-child {
    margin: 0;
}

.__site-maps a:hover {
    color: var(--hover);
    transition: var(--animation);
}

.__site-maps a::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background: var(--line-one);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.__site-maps a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

@media screen and (max-width: 614px) {
    ._ime-main {
        padding: 50px 15px;
    }

    .__site-maps {
        gap: 5vw;
    }
}

@media screen and (max-width: 375px) {
    .__ime-logo img {
        min-width: inherit;
        width: 3rem;
    }
    
    .__site-maps {
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
    }
}