:root {
    /* Color */
    --color-one: #A65D34;
    --color-two: #D7A43A;
    --color-three: #018DCA;
    --color-four: #B10338;
    --color-five: #4D8C1E;
    --color-six: #050505;
    --color-seven: #BE0000;
    --color-eight: #D9E3E4;
    --color-nine: #F7F7F7;
    --color-ten: #B6B6B6;
    --color-eleven: #B5020B;
    --color-twelve: #0B0D17;

    /* Linear */
    --line-one: linear-gradient(90deg, #B5020B 10.42%, #FC7777 82.81%);
    --line-two: linear-gradient(90deg, #0091C5 0%, #D9E3E4 77.14%);
    --line-three:linear-gradient(90deg, #B5020B 10.42%, rgba(252, 119, 119, 0) 82.81%);

    /* Font */
    --font-primary: 800 40px "Azonix", "Inter", Arial;
    --font-secondary: 700 25px "Rubik", "Inter", Arial;
    --font-tertiary: 500 18px "Inter", Arial;

    /* ScrollBar */
    --scroll-bg: #F7F7F7;
    --scroll-bar: #B6B6B6;

    /* Scroll - Munchkin API */
    --munchkin-scroll-bg: #4d4d57;
    --munchkin-scroll-bar: transparent;

    /* Outros */
    --animation: 0.5s;
    --dalay: 0.3s;
    --hover: #B5020B;
    --icon: 3rem;
    --nones: none;
    --icon-color: #a8a8a8;
}

/* Config / reCaptha */

.rc-anchor-invisible {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.grecaptcha-badge {
    left: -186px !important;
    right: inherit !important;
}

.grecaptcha-badge {
    display: flex !important;
    justify-content: flex-end !important;
    overflow: hidden !important;
    width: 70px !important;
    height: 60px !important;
    margin: 0 auto !important;
    box-shadow: 0 0 4px #ddd !important;
    transition: linear 100ms width !important;
}

.grecaptcha-badge:hover {
    width: 256px !important;
}

/* Contato */

._ime-main {
    max-width: 850px;
    margin: auto;

    padding: 100px 50px;
}

._ime-main h1 {
    text-align: center;

    font: var(--font-primary);
    text-transform: uppercase;
}

.__ime-form {
    display: grid;

    margin-top: 35px;
}

.__ime-form input, .__ime-form textarea {
    outline: none;
    border: 1px solid var(--color-twelve);
    border-radius: 0;

    background: transparent;
    width: 100%;
    height: 100%;

    padding: 12px 8px;

    font: var(--font-tertiary);
    font-size: 13px;
    color: var(--color-twelve);
}

.__ime-form input::placeholder, .__ime-form textarea::placeholder {
    font: var(--font-tertiary);
    font-size: 13px;
    color: var(--color-twelve);
}

.__ime-form input:hover, .__ime-form textarea:hover, .flcompy-select:hover, .__ime-form input:focus, .__ime-form textarea:focus, .flcompy-select:focus {
    border: 1px solid var(--hover) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    transition: var(--animation) !important;
}

/* Select API / Styles Local */

.flcompy-select {
    border: 1px solid var(--color-twelve) !important;
    border-radius: 0 !important;

    background: transparent !important;

    padding: 12px 8px !important;

    font: var(--font-tertiary) !important;
    font-size: 13px !important;
    color: var(--color-twelve) !important;
    margin: 0 !important;
}

.flcompy-select:after {
    border-bottom: 2px solid var(--color-six) !important;
    border-right: 2px solid var(--color-six) !important;
}

.flcompy-select .list {
    background: var(--color-nine) !important;
    border: 1px solid var(--color-twelve) !important;

    height: auto !important;
    max-height: 50vh !important;
}

.flcompy-select .list {
    width: 100.6% !important;
    left: -1px !important;
}

.flcompy-select .option:hover, .flcompy-select .option.focus, .flcompy-select .option.selected.focus {
    background-color: var(--color-eight) !important;
    color: var(--color-six) !important;
    font-weight: bold !important;
}

.flcompy-select.open::-webkit-scrollbar, .list::-webkit-scrollbar {
  width: 16px;
}

.flcompy-select.open::-webkit-scrollbar, .list::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 5px solid transparent !important;
  background-clip: content-box;
  background-color: var(--munchkin-scroll-bg);
}

.sr-only {
    display: none;
}

.__ime-form textarea {
    margin-top: 20px;
    resize: none;
}

._form-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
}

._form-line input, .nice-select, ._form-line div {
    width: 100%;
}

#mensagem::-webkit-scrollbar {
    width: 16px;
}
#mensagem::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 6px solid transparent;
    background-clip: content-box;
    background-color: var(--scroll-bar);
}

._form-line div:nth-child(1) {
    margin-right: 5px;
}

._form-line div:nth-child(2) {
    margin-left: 5px;
}

._form-accept {
    margin: 15px 0;

    font-size: 15px;
}

._form-accept a {
    color: var(--color-six);
}

._form-accept a:hover {
    transition: 0.5s;
    font-weight: 700;
    color: var(--hover);
}

/* Bnt / Styles */

._btn__next-contact {
    display: flex;
    align-items: center;
    justify-content: start;

    background: transparent;
    border: transparent;
    outline: none;
}

/* Start Btn Desktop / Styles */

* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

#_next-btn {
    outline: none;
    border: none;
    background: none;

    user-select: none;

    font: var(--font-tertiary);
}

#_next-btn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--color-six);
  cursor: pointer;
  overflow: hidden;
}

#_next-btn svg {
  position: absolute;
  top: 0; 
  left: 0;
  width: auto;
}

#_next-btn svg rect {
  fill: none;
  stroke: var(--color-six);
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  
  @include transition(all 1300ms $ease-out-expo);
}

#_next-btn:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 30, 310;
  stroke-dashoffset: 59;
  stroke: var(--hover);
}

#_next-btn:hover {
  color: var(--hover);

  font-size:18px;
  letter-spacing:1px;
  font-weight: 700;
}

/* End Btn Desktop / Styles */

@media screen and (max-width: 588px) {
    ._form-line {
        flex-direction: column;
    }

    ._form-line div {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    ._form-tel, ._form-uf {
        margin-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    ._ime-main {
        padding: 50px 15px;
    }
}