:root {
  font-size: 16px;

  /* == B2.1.6 == */
  /* Background */
  --bg-101: #f5f2f0;
  --bg-102: #242020;
  --bg-103: #423e3e;
  --bg-104: #b6b6b6;
  /* Fonts */
  --font-201: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --font-202: 800 3rem "Overpass", Arial, Helvetica, sans-serif;
  --font-203: 700 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --font-204: 600 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --font-205: 500 1.25rem "Overpass", Arial, Helvetica, sans-serif;
  --font-206: 500 1.125rem "Overpass", Arial, Helvetica, sans-serif;
  --font-207: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --font-208: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --font-209: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
  /* Colors */
  --color-301: #0b0d17;
  --color-302: #595959;
  --color-303: #ecf7f8;
  --color-304: #d9e3e4;
  --color-305: #eca256;
  --color-306: #b5020b;
  --color-307: #b0b7b8;
  /* Effects */
  --effect-401: #b5020b;
  --effect-402: #eca256;
  --effect-403: #f5f2f0;
  --effect-404: #eca256;
  --effect-405: rgba(100, 100, 111, 0.2);
  --effect-406: rgba(202, 202, 202, 0.2);
  --effect-407: 0.5s;
  --effect-408: 0.3s;
  --effect-409: 3rem;
  --effect-410: none;
  --effect-411: rgba(255, 255, 255, 0.1);

  /* == M2.0.19 == */
  /* Backgrounds */
  --background-primary: #f5f2f0;
  --background-contents: #242020;
  --background-hover: rgba(202, 202, 202, 0.2);
  /* Colors */
  --color-one: #a65d34;
  --color-two: #d7a43a;
  --color-three: #018dca;
  --color-four: #b10338;
  --color-five: #4d8c1e;
  --color-six: #050505;
  --color-seven: #be0000;
  --color-eight: #d9e3e4;
  --color-nine: #f7f7f7;
  --color-ten: #b6b6b6;
  --color-eleven: #8d8888;
  --color-twelve: #0b0d17;
  /* Colors B2.0 */
  --color-ony: #595959;
  --color-twy: #99a5a6;
  --color-threy: #ecf7f8;
  --color-foyr: #737474;
  --color-btn-ony: #eca256;
  /* shortcuts */
  --animation: 0.5s;
  --dalay: 0.3s;
  --visited: #eca256;
  --active: #edad6e;
  --hover: #b5020b;
  --hover-twy: #f5f2f0;
  --hover-threy: #eca256;
  --icon: 3rem;
  --nones: none;
  --showd: rgba(100, 100, 111, 0.2);
  /* ScrollBar */
  --scroll-bg: #242020;
  --scroll-bar: #b6b6b6;
  /* Fonts */
  --h1: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --h2: 700 3rem "Overpass", Arial, Helvetica, sans-serif;
  --h3: 600 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --h4: 500 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --h5: 500 1.25rem "Work Sans", Arial, Helvetica, sans-serif;
  --h6: 400 1.125rem "Work Sans", Arial, Helvetica, sans-serif;
  --text-primary: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --text-complement: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --text-additional: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
}

/* == GLOBAL == */

._main {
  margin: 0;
  padding: 0;
}

/* Banner Home */

.ime ._main .initial__home_cb {
  height: 45rem;

  position: relative;

  display: flex;
}

.ime ._main .initial__home_bgs {
  height: inherit;
}

.ime ._main .initial__home_background {
  background-image: url(https://d8a923b1h5a1n.cloudfront.net/DcpX1TgC/23_04_2022/tWMWl8YFGMWM.JPEG);
}

.ime ._main .initial__home-contents {
  display: grid;
  place-content: center;

  text-align: center;
}

.ime ._main .initial__home {
  z-index: 2;

  display: grid;
  place-content: center;

  margin: auto;
  padding: 2rem;
}

.ime ._main .initial__home-details {
  font: var(--font-207);
  color: var(--color-305);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ime ._main .initial__home-details i {
  background: var(--color-305);

  height: 2px;
  width: 1rem;

  margin-right: 10px;
}

.ime ._main .initial__home-contents h1 {
  font: var(--font-201);
  color: var(--color-304);

  letter-spacing: 1.3rem;
  line-height: 5.5rem;

  margin: 20px 0;
}

.ime ._main .initial__home-contents nav {
  display: flex;
  justify-content: space-evenly;
}

/* Beta - Sobre */

.ime ._main .initial__sobre {
  max-width: 1200px;

  margin: auto;
  padding: 25px 10px;

  display: flex;
  align-self: start;
  justify-content: center;
}

.ime ._main .initial__sobre__chamado-image {
  background-image: url(https://d8a923b1h5a1n.cloudfront.net/DcpX1TgC/23_04_2022/4TG62gyjDp60.JPEG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 50%;
  height: 25rem;

  margin-right: 1.5rem;
}

.ime ._main .initial__sobre__chamado-info {
  display: grid;

  width: 50%;
}

.ime ._main .initial__sobre__chamado-info h2 {
  font: var(--font-202);
}

.ime ._main .initial__sobre__chamado-info p {
  text-align: justify;
  line-height: 1.75rem;
}

.ime ._main .initial__sobre__info-sociais {
  display: flex;
  flex-direction: row;
}

.ime ._main .initial__sobre__info-sociais i {
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem;

  display: flex;
}

.ime ._main .initial__sobre__info-sociais a {
  border: 2px solid var(--bg-102);
  border-radius: 100%;

  text-decoration: none;

  margin-right: 15px;
}

.ime ._main .initial__sobre__info-sociais a:hover {
  background-color: var(--bg-102);
}

@media screen and (max-width: 768px) {
  .ime ._main .initial__sobre {
    max-width: 85%;
  }

  .ime ._main .initial__sobre {
    flex-direction: column;
  }

  .ime ._main .initial__sobre__chamado-image {
    height: 20rem;
    width: 100%;
  }

  .ime ._main .initial__sobre__chamado-info {
    width: 100%;
  }

  .ime ._main .initial__sobre__ime-grid-history {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 425px) {
  .ime ._main .initial__sobre {
    max-width: inherit;
  }

  .ime ._main .initial__sobre {
    padding: 25px 0;
  }

  .ime ._main .initial__sobre__chamado-info {
    padding: 0 10px;
  }
}

/* Beta - EFM */

.ime ._main .initial__efm {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35rem;

  position: relative;

  width: 100%;
  max-width: 1180px;

  margin: 25px auto;
}

._init-efm-contents {
  z-index: 2;

  padding: 15px;
}

._init-efm-contents section {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

._init-efm-contents span {
  font: var(--text-primary);
  text-align: center;
  color: var(--active);
}

._init-efm-contents h2 {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#_efm-title {
  font: var(--h1);
  font-size: 2.6rem;
  letter-spacing: 0.8rem;
  line-height: 3.8rem;
  text-align: center;
  color: var(--color-eight);

  margin: 2.5rem 0;
}

#_sigla-efm {
  display: none;
}

._init-efm_bgs-conts {
  height: inherit;
}

._init-efm_bgs-image {
  background-image: url(https://d8a923b1h5a1n.cloudfront.net/DcpX1TgC/24_04_2022/Fx7D48zgJgh0.jpg);
}



/* =========== MOBILE =========== */

@media screen and (max-width: 1205px) {
  /* EFM */
  .ime ._main .initial__efm {
    margin: 35px 20px;
    max-width: -webkit-fill-available;
  }
}

@media screen and (max-width: 898px) {
  /* EFM */
  #_efm-title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .ime ._main .initial__sobre-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    margin-top: 25px;
  }
}

@media screen and (max-width: 686px) {
  /* EFM */
  .ime ._main .initial__efm {
    margin: auto;
  }
}

@media screen and (max-width: 686px) {
  /* EFM */
  #_efm-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 580px) {
  /* == Home == */
  .ime ._main .initial__home_cb {
    height: 35rem;
  }

  .ime ._main .initial__home-contents h1 {
    font-size: 3rem;
    letter-spacing: 0.8rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 375px) {
  /* == Home == */
  .ime ._main .initial__home-details {
    font-size: 0.8rem;
  }

  .ime ._main .initial__home-contents h1 {
    font-size: 2.3rem;
    letter-spacing: 0.8rem;
    line-height: 4.5rem;
  }

  .ime ._main .initial__home-contents nav {
    flex-direction: column;
  }

  /* == Sobre == */
  .ime ._main .initial__sobre-grid {
    flex-direction: column;
    align-items: start;
  }

  /* == EFM == */
  #_efm-title {
    display: none;
  }

  #_sigla-efm {
    display: flex;
    justify-content: center;

    font: var(--h1);
    font-size: 2.6rem;
    letter-spacing: 0.8rem;
    text-align: center;
    color: var(--color-eight);

    margin: 2.5rem 0;
  }
}

/* == DeskTop == */

/* EFM */

.ime ._efm .next_btn {
  width: max-content;
  margin: auto;
}