:root {
    /* Color */
    --color-one: #A65D34;
    --color-two: #D7A43A;
    --color-three: #018DCA;
    --color-four: #B10338;
    --color-five: #4D8C1E;
    --color-six: #050505;
    --color-seven: #BE0000;
    --color-eight: #D9E3E4;
    --color-nine: #F7F7F7;
    --color-ten: #B6B6B6;
    --color-eleven: #B5020B;
    --color-twelve: #0B0D17;

    /* Color Font */
    --color-font-one: #474A57;

    /* Linear */
    --line-one: linear-gradient(90deg, #B5020B 10.42%, #FC7777 82.81%);
    --line-two: linear-gradient(90deg, #0091C5 0%, #D9E3E4 77.14%);
    --line-three:linear-gradient(90deg, #B5020B 10.42%, rgba(252, 119, 119, 0) 82.81%);

    /* Font */
    --font-primary: 800 40px "Azonix", "Inter", Arial;
    --font-secondary: 700 25px "Rubik", "Inter", Arial;
    --font-tertiary: 500 18px "Inter", Arial;

    /* ScrollBar */
    --scroll-bg: #F7F7F7;
    --scroll-bar: #B6B6B6;

    /* Outros */
    --animation: 0.5s;
    --dalay: 0.3s;
    --hover: #B5020B;
    --icon: 3rem;
    --nones: none;
    --icon-color: #a8a8a8;
}

/* Footer / Styles */

._ime-footer {
    background: var(--color-twelve);
    padding: 50px 20px;
}

.__footer-sec {
    max-width: 1400px;
    margin: auto;
}

._footer-nav section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

._footer-nav img {
    width: 2vw;
}

._footer-nav nav {
    display: flex;
    align-items: center;
}

.__copyright {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.contato div {
    display: flex;
    align-items: baseline;
    height: auto;
}

.contato svg {
    display: flex;
    align-items: center;
}

.contato p {
    color: var(--color-font-one);
    font: var(--font-tertiary);
    text-decoration: none;
}

._footer-tel {
    margin: 18px 0;
}

._footer-nav a, ._footer-nav p, .__copyright p {
    color: var(--color-font-one);
    font: var(--font-tertiary);
    text-decoration: none;

    position: relative;
}

._footer-nav a:hover {
    color: var(--hover);
    transition: var(--animation);
}

._footer-nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background: var(--line-three);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

._footer-nav a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

._footer-nav p {
    font-weight: 700;
    margin: 0 10px;
}

.divisor {
    margin: 15px 0;

    height: 2px;
    width: 100%;

    background: var(--color-font-one);
}

._footer-links {
    display: flex;
    align-items: start;
    justify-content: space-between;

    margin: 35px 20px;
}

._footer-links nav {
    display: grid;
}

._footer-links h6 {
    font: var(--font-secondary);
    color: var(--color-ten);
    font-weight: 600;

    margin-bottom: 18px;
}

._footer-links a {
    font: var(--font-tertiary);
    font-size: 18px;
    color: var(--color-font-one);

    margin-bottom: 18px;
    text-decoration: none;

    position: relative;
    width: fit-content;
}

._footer-links a:hover {
    color: var(--hover);
    transition: var(--animation);
}

._footer-links a::after {
    content: "";
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background: var(--line-three);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

._footer-links a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

/* Footer / Config */

._footer-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    ._ime-footer {
        padding: 35px 20px;
    }

    ._footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 25vw;
        width: min-content;
        margin: 35px auto;
    }

    ._footer-links section {
        width: fit-content;
    }

    ._footer-nav img {
        width: 4vw;
    }
}

@media screen and (max-width: 733px) {
    ._footer-links {
        gap: 30px 5rem;
    }
    
    ._ime-footer {
        padding: 35px 0;
    }

    ._footer-desktop {
        display: none;
    }

    ._footer-mobile {
        display: contents;
    }
}

@media screen and (max-width: 583px) {
    ._footer-nav a, ._footer-nav p, .__copyright p {
        font-size: 14px;
    }

    ._footer-nav img {
        width: 7vw;
    }

    ._footer-links {
        grid-template-columns: repeat(1, 1fr);
    }

    .__copyright {
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    ._footer-nav img {
        display: none;
    }

    .contato svg {
        width: fit-content;
        margin-right: 10px;
    }
}

/* V1.5.2 */

@media screen and (max-width: 375px) {
    .contato svg {
        width: inherit;
        margin-right: 10px;
    }
}