@font-face {
  font-family: "Azonix";
  src: url(https://upload.emanuelalvorada.com.br/search/font/Azonix.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Overpass:wght@400;500;600;700;800&display=swap");

:root {
  /* Backgrounds */
  --background-primary: #f5f2f0;
  --background-contents: #242020;
  --background-hover: rgba(202, 202, 202, 0.2);

  /* Colors */
  --color-one: #a65d34;
  --color-two: #d7a43a;
  --color-three: #018dca;
  --color-four: #b10338;
  --color-five: #4d8c1e;
  --color-six: #050505;
  --color-seven: #be0000;
  --color-eight: #d9e3e4;
  --color-nine: #f7f7f7;
  --color-ten: #b6b6b6;
  --color-eleven: #8d8888;
  --color-twelve: #0b0d17;

  /* Colors B2.0 */
  --color-ony: #595959;
  --color-twy: #99a5a6;
  --color-threy: #ecf7f8;
  --color-foyr: #737474;

  --color-btn-ony: #eca256;

  /* shortcuts */
  --animation: 0.5s;
  --dalay: 0.3s;
  --visited: #eca256;
  --active: #edad6e;
  --hover: #b5020b;
  --hover-twy: #f5f2f0;
  --hover-threy: #eca256;
  --icon: 3rem;
  --nones: none;
  --showd: rgba(100, 100, 111, 0.2);

  /* ScrollBar */
  --scroll-bg: #242020;
  --scroll-bar: #b6b6b6;

  /* Fonts */
  --h1: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --h2: 700 3rem "Overpass", Arial, Helvetica, sans-serif;
  --h3: 600 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --h4: 500 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --h5: 500 1.25rem "Work Sans", Arial, Helvetica, sans-serif;
  --h6: 400 1.125rem "Work Sans", Arial, Helvetica, sans-serif;
  --text-primary: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --text-complement: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --text-additional: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
}

.ime-main {
  padding: 0;
  margin: 0;
}

/* GLOBAL */

.sr-onlys {
  visibility: hidden;
  opacity: 0;

  display: none;
}

._hc-form input,
._hc-form textarea {
  background: transparent;
  border: 2px solid var(--background-contents);
  outline: none;

  font: var(--text-complement);
  color: var(--color-six);
}

._background,
._bg-effect {
  width: 100vw;
  height: inherit;
}

/* Banner */

._home-contact {
  height: 40vh;
  min-height: 15rem;

  position: relative;
}

._bgs {
  position: absolute;
  top: 0;
  left: 0;

  height: inherit;
}

._hc-contents {
  display: grid;
  align-content: center;
  justify-content: start;
}

._hc-ime {
  position: inherit;
  z-index: 2;

  display: flex;

  height: inherit;
  width: 100%;
  max-width: 95rem;

  margin: auto;
  padding: 2rem;
}

._hc-contents h2 {
  font: var(--h2);
  font-weight: 800;
  color: var(--color-eight);

  line-height: 3.3rem;
  letter-spacing: 8px;

  margin-top: 15px;
}

._hc-details {
  font: var(--text-complement);
  color: var(--color-btn-ony);

  display: flex;
  align-items: center;
}

._hc-details i {
  background: var(--color-btn-ony);

  height: 2px;
  width: 1rem;

  margin-right: 10px;
}

._background {
  background-image: url(https://upload.emanuelalvorada.com.br/bIfKY1M/Uhmfc78h8vk6.jpg);
  background-position-y: -60rem;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;
}

._bg-effect {
  z-index: 1;
  background-color: var(--background-contents);
  opacity: 0.8;

  position: absolute;
  top: 0;
  left: 0;
}

/* Foms and Contact */

._hc-blocs {
  display: flex;

  width: 100%;
  max-width: 95rem;

  margin: auto;
  padding: 5rem 2rem;
}

._formless,
._hc-infos {
  width: 50vw;
}

._formless {
  margin-right: 10px;
}

._hc-infos {
  margin-left: 10px;
}

._formless section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 15px;
}

._formless div {
  width: 100%;
}

.i_name,
.i_tel,
.s_motivo {
  margin-right: 10px;
}

.i_mail,
.s_members,
.i_assunto {
  margin-left: 10px;
}

._formless input,
.j-munchkin,
._formless textarea {
  padding: 1rem 10px !important;
  width: 100%;

  border: 2px solid var(--background-contents) !important;

  font: var(--text-primary);
  color: var(--color-twelve);
}

.current,
._formless input::placeholder,
._formless textarea::placeholder {
  font: var(--text-primary);
  color: var(--color-twelve);
}

.j-munchkin.open .list {
  border: 2px solid var(--background-contents) !important;
}

._formless input:hover,
._formless textarea:hover,
.j-munchkin:hover {
  transition: var(--animation);
  box-shadow:rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

._formless p {
  font: var(--text-complement);
  color: var(--color-twelve);
  margin: 15px 0;
}

._formless a {
  color: var(--color-twelve);
}

._formless a:hover {
  color: var(--hover);
}

._formless button {
  background: var(--color-btn-ony);
}