.ime-main {
  padding: 0;
  margin: 0;
}

/* GLOBAL */

.sr-onlys {
  visibility: hidden;
  opacity: 0;

  display: none;
}

._background,
._bg-effect {
  width: -webkit-fill-available;
  height: inherit;
}

/* Banner */

._home-contact {
  height: 20rem;

  position: relative;

  display: flex;
}

._bgs {
  height: inherit;
}

._hc-contents {
  display: grid;
  align-content: center;
  justify-content: start;
}

._hc-ime {
  position: inherit;
  z-index: 2;

  display: flex;

  height: inherit;
  width: 100%;
  max-width: 95rem;

  margin: auto;
  padding: 2rem;
}

._hc-contents h2 {
  font: var(--h2);
  font-weight: 800;
  color: var(--color-eight);

  line-height: 3.3rem;
  letter-spacing: 8px;

  margin-top: 15px;
}

._hc-details {
  font: var(--text-complement);
  color: var(--color-btn-ony);

  display: flex;
  align-items: center;
}

._hc-details i {
  background: var(--color-btn-ony);

  height: 2px;
  width: 1rem;

  margin-right: 10px;
}

._background {
  background-image: url(https://d8a923b1h5a1n.cloudfront.net/DcpX1TgC/29_03_2022/Uhmfc78h8vk6.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;
}

._bg-effect {
  z-index: 1;
  background-color: var(--background-contents);
  opacity: 0.8;

  position: absolute;
  top: 0;
  left: 0;
}

/* Foms and Contact */

._hc-blocs {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  max-width: 95rem;

  margin: auto;
  padding: 5rem 2rem;
}

._hc-form {
  max-width: 50rem;
  width: 100%;
}

._hc-infos {
  margin-left: 15px;
}

._formless section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 15px;
}

._formless div {
  width: 100%;
}

.i_name,
.i_tel,
.s_motivo {
  margin-right: 10px;
}

.i_mail,
.s_members,
.i_assunto {
  margin-left: 10px;
}

._formless input,
.j-munchkin,
._formless textarea {
  padding: 1rem 10px !important;

  width: 100%;
  min-width: auto !important;

  border: 2px solid var(--background-contents) !important;
  border-radius: 0 !important;

  font: var(--text-primary);
  color: var(--color-twelve);

  resize: none;
}

.current,
._formless input::placeholder,
._formless textarea::placeholder {
  font: var(--text-primary);
  color: var(--color-twelve);
}

.j-munchkin.open .list {
  border: 2px solid var(--background-contents) !important;
}

._formless input:hover,
._formless textarea:hover,
.j-munchkin:hover {
  transition: var(--animation);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

._formless p {
  font: var(--text-complement);
  color: var(--color-twelve);
  margin: 15px 0;
}

._formless a {
  color: var(--color-twelve);
}

._formless a:hover {
  color: var(--hover);
}

._formless button {
  background: var(--background-contents);
  border: 2px solid var(--background-contents);

  font: var(--h6);
  color: var(--color-eight);

  padding: 15px 23px;

  display: flex;
  align-self: center;
  justify-content: center;

  cursor: pointer;
}

._formless button:hover {
  transition: var(--animation);

  background: transparent;
  color: var(--color-twelve);
}

._hc-infos {
  width: fit-content;
}

._hc-infos h4 {
  font: var(--h4);
  margin-bottom: 15px;
}

._cts-address {
  margin-bottom: 10px;
  font: var(--text-primary);
}

._cts-contact nav {
  display: flex;
  flex-direction: column;

  margin-bottom: 5px;
}

._cts-contact a {
  color: var(--color-twelve);
  margin-bottom: 5px;
}

._cts-contact a:hover {
  transition: var(--animation);
  color: var(--hover);
}

._cts-network nav {
  display: flex;
  align-self: center;
  justify-content: start;
}

._cts-network a {
  background: var(--background-contents);
  border-radius: 50%;

  text-decoration: none;

  color: var(--color-eleven);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  width: 40px;
  height: 40px;

  font-size: 20px;
}

._cts-network a:hover {
  filter: drop-shadow(var(--showds));
  color: var(--color-btn-ony);

  transition: var(--animation);
}

@media screen and (max-width: 868px) {
  ._hc-blocs {
    flex-direction: column;
  }

  ._hc-form,
  ._hc-infos {
    margin: 0;
  }

  ._hc-infos {
    margin-top: 20px;
  }
}

@media screen and (max-width: 668px) {
  ._formless section {
    flex-direction: column;
    margin: 0;
  }

  .i_name,
  .i_tel,
  .s_motivo,
  .i_mail,
  .s_members,
  .i_assunto {
    margin: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  ._hc-ime {
    padding: 2rem 1rem;
  }

  ._hc-blocs {
    padding: 3rem 1rem;
  }
}
