/* === Root Global === */
@font-face {
  font-family: "Azonix";
  src: url("https://d8a923b1h5a1n.cloudfront.net/wovSIuBa/Azonix.woff") format("woff"),
    url("https://d8a923b1h5a1n.cloudfront.net/wovSIuBa/Azonix.otf") format("otf");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Overpass:wght@400;500;600;700;800&display=swap");

:root {
  font-size: 16px;

  /* == B2.1.6 == */
  /* Background */
  --bg-101: #f5f2f0;
  --bg-102: #242020;
  --bg-103: #423e3e;
  --bg-104: #b6b6b6;
  /* Fonts */
  --font-201: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --font-202: 800 3rem "Overpass", Arial, Helvetica, sans-serif;
  --font-203: 700 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --font-204: 600 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --font-205: 500 1.25rem "Overpass", Arial, Helvetica, sans-serif;
  --font-206: 500 1.125rem "Overpass", Arial, Helvetica, sans-serif;
  --font-207: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --font-208: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --font-209: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
  /* Colors */
  --color-301: #0b0d17;
  --color-302: #595959;
  --color-303: #ecf7f8;
  --color-304: #d9e3e4;
  --color-305: #eca256;
  --color-306: #b5020b;
  --color-307: #b0b7b8;
  /* Effects */
  --effect-401: #b5020b;
  --effect-402: #eca256;
  --effect-403: #f5f2f0;
  --effect-404: #eca256;
  --effect-405: rgba(100, 100, 111, 0.2);
  --effect-406: rgba(202, 202, 202, 0.2);
  --effect-407: 0.5s;
  --effect-408: 0.3s;
  --effect-409: 3rem;
  --effect-410: none;
  --effect-411: rgba(255, 255, 255, 0.1);

  /* == M2.0.19 == */
  /* Backgrounds */
  --background-primary: #f5f2f0;
  --background-contents: #242020;
  --background-hover: rgba(202, 202, 202, 0.2);
  /* Colors */
  --color-one: #a65d34;
  --color-two: #d7a43a;
  --color-three: #018dca;
  --color-four: #b10338;
  --color-five: #4d8c1e;
  --color-six: #050505;
  --color-seven: #be0000;
  --color-eight: #d9e3e4;
  --color-nine: #f7f7f7;
  --color-ten: #b6b6b6;
  --color-eleven: #8d8888;
  --color-twelve: #0b0d17;
  /* Colors B2.0 */
  --color-ony: #595959;
  --color-twy: #99a5a6;
  --color-threy: #ecf7f8;
  --color-foyr: #737474;
  --color-btn-ony: #eca256;
  /* shortcuts */
  --animation: 0.5s;
  --dalay: 0.3s;
  --visited: #eca256;
  --active: #edad6e;
  --hover: #b5020b;
  --hover-twy: #f5f2f0;
  --hover-threy: #eca256;
  --icon: 3rem;
  --nones: none;
  --showd: rgba(100, 100, 111, 0.2);
  /* ScrollBar */
  --scroll-bg: #242020;
  --scroll-bar: #b6b6b6;
  /* Fonts */
  --h1: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --h2: 700 3rem "Overpass", Arial, Helvetica, sans-serif;
  --h3: 600 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --h4: 500 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --h5: 500 1.25rem "Work Sans", Arial, Helvetica, sans-serif;
  --h6: 400 1.125rem "Work Sans", Arial, Helvetica, sans-serif;
  --text-primary: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --text-complement: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --text-additional: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ - V2.0 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Tools */

.ime h1,
.ime h2,
.ime h3,
.ime h4,
.ime h5,
.ime h6,
.ime p,
.ime a,
.ime span,
.ime i,
.ime b,
.ime li {
  color: var(--color-301);
}

.ime p,
.ime a,
.ime span,
.ime i,
.ime b,
.ime li {
  font: var(--font-207);
}

.ime button,
.ime header,
.ime footer {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.ime h1 {
  font: var(--font-201);
}

.ime h2 {
  font: var(--font-202);
}

.ime h3 {
  font: var(--font-203);
}

.ime h4 {
  font: var(--font-204);
}

.ime h5 {
  font: var(--font-205);
}

.ime h6 {
  font: var(--font-206);
}

.ime a,
.ime button {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
}

.ime strong {
  font-weight: bold;
}

.ime a:hover,
.ime button:hover {
  transition: all var(--effect-407);
}

/* Pre-config CSS */

.ime ._config-501 {
  border: 2px solid var(--color-306);
  border-radius: 5px;

  background: transparent;
  color: var(--color-304);

  text-decoration: none;
  font-weight: 600;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  padding: 1rem 1.5rem;
  
  display: flex;
  align-self: center;
}

.ime ._config-501 i {
  font-weight: 600;
  color: var(--color-304);

}

.ime ._config-501:hover {
  transition: all var(--effect-407);

  background: var(--effect-401);
}

.ime ._config-502 {
  border: 2px solid var(--bg-102);
  border-radius: 5px;

  padding: .8rem 1.2rem;
  margin-top: 1.2rem;

  width: max-content;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  display: flex;
  align-items: center;
  justify-content: start;

  text-decoration: none;
  font-weight: 600;
}

.ime ._config-502 i {
  font-weight: 600;
  font-size: 1.3rem;
}

.ime ._config-502:hover {
  background-color: var(--bg-102);
  color: var(--effect-403);
}

.ime ._config-502:hover i {
  transition: all var(--effect-407);

  color: var(--effect-403);
}

.ime ._config-503 {
  width: -webkit-fill-available;
  height: inherit;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  opacity: 0.8;

  background-color: var(--bg-102);
}

.ime ._config-504 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 0;

  width: -webkit-fill-available;
  height: inherit;

  position: absolute;
  top: 0;
  left: 0;
}