@font-face {
  font-family: "Azonix";
  src: url(https://upload.emanuelalvorada.com.br/search/font/Azonix.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Overpass:wght@400;500;600;700;800&display=swap");

:root {
  /* Backgrounds */
  --background-primary: #f5f2f0;
  --background-contents: #242020;
  --background-hover: rgba(202, 202, 202, 0.2);

  /* Colors */
  --color-one: #a65d34;
  --color-two: #d7a43a;
  --color-three: #018dca;
  --color-four: #b10338;
  --color-five: #4d8c1e;
  --color-six: #050505;
  --color-seven: #be0000;
  --color-eight: #d9e3e4;
  --color-nine: #f7f7f7;
  --color-ten: #b6b6b6;
  --color-eleven: #8d8888;
  --color-twelve: #0b0d17;

  /* Colors B2.0 */
  --color-ony: #595959;
  --color-twy: #99a5a6;
  --color-threy: #ecf7f8;
  --color-foyr: #737474;

  --color-btn-ony: #eca256;

  /* shortcuts */
  --animation: 0.5s;
  --dalay: 0.3s;
  --visited: #eca256;
  --active: #edad6e;
  --hover: #b5020b;
  --hover-twy: #f5f2f0;
  --hover-threy: #eca256;
  --icon: 3rem;
  --nones: none;
  --showd: rgba(100, 100, 111, 0.2);
  --showds: rgba(0, 0, 0, 0.55) 0px 5px 15px;

  /* ScrollBar */
  --scroll-bg: #242020;
  --scroll-bar: #b6b6b6;

  /* Fonts */
  --h1: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --h2: 700 3rem "Overpass", Arial, Helvetica, sans-serif;
  --h3: 600 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --h4: 500 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --h5: 500 1.25rem "Work Sans", Arial, Helvetica, sans-serif;
  --h6: 400 1.125rem "Work Sans", Arial, Helvetica, sans-serif;
  --text-primary: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --text-complement: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --text-additional: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
}

._ime-main {
  max-width: 680px;
  margin: auto;

  padding: 130px 25px;
}

._details {
  font: var(--text-additional);
  display: none;
}

._ime-main h2 {
  font: var(--h2);
  font-weight: 800;
  color: var(--color-six);

  line-height: 3rem;

  margin: 20px 0;
}

._terms-list {
  display: grid;
  gap: 18px;
}

._terms-list li {
  font: var(--text-primary);
  font-size: 18px;

  color: var(--color-twelve);

  text-align: justify;
  line-height: 1.8rem;
}

._terms-list a {
  color: var(--color-twelve);
}

._terms-list a:hover {
  color: var(--hover);
}

._terms-list h3 {
  font: var(--h3);
}

._terms-list h4 {
  font: var(--h4);
  font-weight: 600;
}

/* Blocks */

._terms-infos {
  margin-bottom: 50px;
}

._terms-uptade {
  margin-top: 50px;
}

._terms-infos,
._terms-uptade {
  background-color: var(--background-contents);
  color: var(--color-eight);

  width: fit-content;
}

.__upt-line,
.__terms-line {
  background: var(--color-btn-ony);
  border: none;
  height: 5px;
}

._upt-text,
._terms-text {
  padding: 15px;
}

._terms-infos p,
._terms-infos a {
  font: var(--text-primary);
  color: var(--color-eight);
}

._terms-infos a:hover {
  color: var(--hover-threy);
}

._terms-uptade h6 {
  font: var(--h6);
  color: var(--color-eight);

  display: flex;
  align-items: center;
}

._terms-infos i,
._terms-uptade i {
  color: var(--color-btn-ony);
  margin-right: 5px;
}

@media screen and (max-width: 425px) {
  ._ime-main {
    padding: 100px 0;
  }

  ._terms-infos,
  ._terms-uptade {
      width: inherit;
  }
}
