@font-face {
  font-family: "Azonix";
  src: url(https://upload.emanuelalvorada.com.br/search/font/Azonix.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Overpass:wght@400;500;600;700;800&display=swap");

:root {
  /* Backgrounds */
  --background-primary: #f5f2f0;
  --background-contents: #242020;
  --background-hover: rgba(202, 202, 202, 0.2);

  /* Colors */
  --color-one: #a65d34;
  --color-two: #d7a43a;
  --color-three: #018dca;
  --color-four: #b10338;
  --color-five: #4d8c1e;
  --color-six: #050505;
  --color-seven: #be0000;
  --color-eight: #d9e3e4;
  --color-nine: #f7f7f7;
  --color-ten: #b6b6b6;
  --color-eleven: #8d8888;
  --color-twelve: #0b0d17;

  /* Colors B2.0 */
  --color-ony: #595959;
  --color-twy: #99a5a6;
  --color-threy: #ecf7f8;
  --color-foyr: #737474;

  --color-btn-ony: #eca256;

  /* shortcuts */
  --animation: 0.5s;
  --dalay: 0.3s;
  --visited: #eca256;
  --active: #edad6e;
  --hover: #b5020b;
  --hover-twy: #f5f2f0;
  --hover-threy: #eca256;
  --icon: 3rem;
  --nones: none;
  --showd: rgba(100, 100, 111, 0.2);

  /* ScrollBar */
  --scroll-bg: transparent;
  --scroll-bar: #b6b6b6;

  /* Fonts */
  --h1: 800 4rem "Azonix", "Overpass", Arial, Helvetica, sans-serif;
  --h2: 700 3rem "Overpass", Arial, Helvetica, sans-serif;
  --h3: 600 2.25rem "Overpass", Arial, Helvetica, sans-serif;
  --h4: 500 1.5rem "Overpass", Arial, Helvetica, sans-serif;
  --h5: 500 1.25rem "Work Sans", Arial, Helvetica, sans-serif;
  --h6: 400 1.125rem "Work Sans", Arial, Helvetica, sans-serif;
  --text-primary: 500 1rem "Inter", Arial, Helvetica, sans-serif;
  --text-complement: 400 0.875rem "Inter", Arial, Helvetica, sans-serif;
  --text-additional: 400 0.75rem "Inter", Arial, Helvetica, sans-serif;
}

/* == Main Temp == */

.ime-main {
  margin: 150px;
}

/* == GLOBAL == */

.ime-header,
.ime-footer {
  background-color: var(--background-contents);
}

._ime-subheader,
._ime-sobfooter,
._ime-subfooter {
  padding: 1rem;
}

._ime-header,
._ime-subheader,
._ime-sobfooter,
._ime-footer,
._ime-subfooter {
  max-width: 95rem;
  margin: auto;
}

._ime-subheader,
._menu,
._ime-sobfooter,
._ime-subfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._imeh-hostlink,
._imeh-hostsocial,
._imeh-hostsocial a {
  display: flex;
  align-items: center;
}

._dlines,
._yline {
  height: 1.5px;
  background: var(--color-ony);
}

/* == Header == */

._ime-header,
._im-list {
  display: flex;
  align-items: center;
}

.ime-header img {
  width: 9rem;
  min-width: 6rem;
}

._ime-subheader a {
  font: var(--text-complement);
  color: var(--color-twy);
  text-decoration: none;
}

._imeh-hostlink a:nth-child(2),
._imeh-hostsocial a:nth-child(2) {
  margin: 0 15px;
}

._imeh-hostlink a {
  position: relative;
  width: fit-content;
}

._imeh-hostlink a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--color-twy);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

._imeh-hostlink a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

._ime-subheader a:hover {
  transition: var(--animation);
  color: var(--hover-twy);
}

._imeh-hostsocial a {
  padding: 10px;

  font-size: 18px;
  text-align: center;

  border-radius: 50%;
}

._imeh-hostsocial a:hover {
  transition: 0.5s;
  background-color: var(--background-hover);
  color: var(--hover-twy);
}

._imeh-hostsocial i {
  width: fit-content;
}

._yline {
  transform: rotate(90deg);
}

/* logo_content */

.logo_content {
  width: fit-content;
  border-right: 2px solid var(--color-ony);
}

.logo_content,
._menu {
  padding: 1rem;
}

.logo_content a {
  position: relative;
}

/* Menu */

._toggles {
  display: none;
}

._menu {
  width: 100%;
}

._menu a {
  font: var(--h5);
  color: var(--color-twy);
  text-decoration: none;

  margin-left: 1rem;

  position: relative;
  width: fit-content;
}

._menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--color-twy);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

._menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

._menu a:hover {
  transition: var(--animation);
  color: var(--hover-twy);
}

/* == Footer == */

.ime-footer p,
.ime-footer a {
  color: var(--color-twy);
  text-decoration: none;
}

.ime-footer a {
  position: relative;
}

.ime-footer a:hover {
  transition: var(--animation);
  color: var(--hover-threy);
}

.ime-footer a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background: var(--hover-threy);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.ime-footer a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

._hostcontents {
  display: flex;
}

._hostcontents p {
  margin: 0 15px;
}

._ime-footer {
  padding: 2rem 1rem;
}

.__footer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.__footer-list li {
  display: inherit;
  justify-content: center;

  width: fit-content;
}

.__footer-list li:nth-child(1),
.__footer-list li:nth-child(5) {
  justify-content: start;
}

.__footer-list li:nth-child(4) {
  justify-content: end;
  width: auto;
}

.__footer-list h6 {
  font: var(--h4);
  color: var(--color-twy);
}

.__footer-list nav {
  display: grid;
}

.__footer-list a {
  width: fit-content;
  margin-top: 15px;

  color: var(--color-foyr);
}

._imef-hostlink a:nth-child(2) {
  margin: 0 15px;
}

.__footer-list i {
  margin-right: 15px;
}

._mapsfooter {
  display: flex;
  color: var(--color-foyr);
}

._mapsfooter p {
  color: var(--color-foyr);
}

.icon-map-pin {
  display: flex;
  width: fit-content;

  margin-right: 20px !important;
}

/* == MOBILE == */

@media screen and (max-width: 1090px) {
  /* == HEADER == */

  /* == MENU == */
  ._menu {
    justify-content: end;
  }

  ._toggles {
    display: flex;

    font-size: 2rem;
    color: var(--color-twy);

    margin-left: 25px;
  }

  ._im-list {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  ._menu.show {
    display: grid;

    opacity: 1;
    visibility: visible;
    background: var(--background-contents);
    height: 100vh;
    width: 100vw;

    align-items: end;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  ._menu.show ._im-list {
    opacity: 1;
    visibility: visible;
    display: grid;

    margin-bottom: 25px;
  }

  ._menu.show {
    display: grid;
    place-content: center;
    text-align: center;
  }

  ._menu.show .open {
    display: none;
  }

  ._menu .close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -1.5rem;

    transition: 0.2s;
  }

  ._menu i:hover {
    transition: var(--animation);
    color: var(--hover-threy);
  }

  ._menu.show .close {
    visibility: visible;
    opacity: 1;
    top: 2rem;
    left: 50% !important;
    right: inherit;
    z-index: 5;
  }

  ._menu.show a {
    line-height: 4rem;
    position: relative;
  }
}

@media screen and (max-width: 940px) {
  
}

@media screen and (max-width: 615px) {
  /* == HEADER == */
  .ime-header img {
    width: 6rem;
    min-width: auto;
  }

  ._toggles {
    font-size: 2.2rem;
  }

  /* == MENU == */
  ._im-search {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  ._menu.show ._im-search {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  /* == SubHeader == */
  ._ime-subheader {
    flex-direction: row;
    width: 100%;
  }

  ._imeh-hostlink {
    justify-content: space-around;
    width: 100%;
  }

  ._imeh-hostsocial {
    visibility: hidden;
    opacity: 0;

    display: none;
  }
}

@media screen and (max-width: 375px) {
  /* Header */
  .logo_content {
    border: none;
  }
}
