@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oiaq');
  src:  url('fonts/icomoon.eot?oiaq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oiaq') format('truetype'),
    url('fonts/icomoon.woff?oiaq') format('woff'),
    url('fonts/icomoon.svg?oiaq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ccd-ccd:before {
  content: "\e936";
  color: #a00023;
}
.icon-ccd .path1:before {
  content: "\e937";
  color: rgb(160, 0, 35);
}
.icon-ccd .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(160, 0, 35);
}
.icon-ccd .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-ccd .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-ccd .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(230, 230, 230);
}
.icon-ccd .path6:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(160, 0, 35);
}
.icon-ccd .path7:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(160, 0, 35);
}
.icon-ccd .path8:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(160, 0, 35);
}
.icon-ccd .path9:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(160, 0, 35);
}
.icon-ccd .path10:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(160, 0, 35);
}
.icon-logo-ccd:before {
  content: "\e922";
}
.icon-study:before {
  content: "\e935";
}
.icon-alert-octagon:before {
  content: "\e900";
}
.icon-anchor:before {
  content: "\e901";
}
.icon-arrow-up-right:before {
  content: "\e91a";
}
.icon-at-sign:before {
  content: "\e902";
}
.icon-award:before {
  content: "\e941";
}
.icon-bookmark:before {
  content: "\e903";
}
.icon-check-circle:before {
  content: "\e904";
}
.icon-check-square:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-cloud:before {
  content: "\e928";
}
.icon-compass:before {
  content: "\e909";
}
.icon-copy:before {
  content: "\e91f";
}
.icon-corner-up-left:before {
  content: "\e942";
}
.icon-external-link:before {
  content: "\e91b";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-eye-off:before {
  content: "\e91d";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-github:before {
  content: "\e90b";
}
.icon-grid:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e90c";
}
.icon-info:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e91e";
}
.icon-log-out:before {
  content: "\e920";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-map-pin:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e911";
}
.icon-moon:before {
  content: "\e921";
}
.icon-more-vertical:before {
  content: "\e923";
}
.icon-music:before {
  content: "\e926";
}
.icon-navigation:before {
  content: "\e927";
}
.icon-octagon:before {
  content: "\e92b";
}
.icon-phone:before {
  content: "\e913";
}
.icon-phone-outgoing:before {
  content: "\e92c";
}
.icon-pie-chart:before {
  content: "\e92d";
}
.icon-play-circle:before {
  content: "\e92e";
}
.icon-plus:before {
  content: "\e92f";
}
.icon-plus-circle:before {
  content: "\e930";
}
.icon-plus-square:before {
  content: "\e931";
}
.icon-pocket:before {
  content: "\e932";
}
.icon-save:before {
  content: "\e943";
}
.icon-search:before {
  content: "\e915";
}
.icon-send:before {
  content: "\e916";
}
.icon-shopping-cart:before {
  content: "\e929";
}
.icon-users:before {
  content: "\e944";
}
.icon-x:before {
  content: "\e917";
}
.icon-youtube:before {
  content: "\e918";
}
